footer {
    text-align:center ;
    border-top: 1px solid lightskyblue ;
    color: dimgray;
    padding: 20px;
    width: 75%;
    margin: auto;
}

footer section .link-logo {
    display: block;
    padding: 20px 25px;
    text-align: left ;
    
}