/* Estilos do header */

header h1 {
    color: dodgerblue;
}

.article-title{
    color: dodgerblue;
}

header .link-logo {
    display: block;
    padding: 20px 25px;
    border-bottom: 1px solid lightskyblue;
}

header nav ul {
    padding: 0;
    text-align: center; 
    
}

header nav ul li {
    display:inline-block;
}

header nav ul li:not(:last-child){
    margin-right:15px ;

}

.menu li a {
    text-decoration: none;
}

.menu li a:hover {
    color: dodgerblue;
    text-decoration: underline;
}

@media screen and (min-width: 992px) {
    header{
        position: relative;
    }
    .menu {
        position: absolute;
        top: 18%;
        left: 30%;
    }
}